{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Автор данного проекта — Судомоин Павел
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Студент Яндекс.Практикума
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>Приложение разработано в учебных целях для <b>Yandex.Praktikum</b></p>
            <p>Связаться с автором можно по <a href="mailto:sudomoin.pavel@yandex.ru">почте</a></p>
            <p>Прочие проекты можно посмотреть через мой <a href="https://github.com/pavel-sudomoin">профиль на github</a></p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}