{% extends "base.html" %}
{% block title %}Ваша лента{% endblock %}
{% block content %}

    {% load cache %}

    {% include "include/menu.html" with follow=True %}

    <h1>Посты от аторов, на которых вы подписаны</h1>

    {% cache 20 follow_page %}

        {% for post in page %}
            {% include "include/post_card.html" with post=post add_comment=True %}
        {% endfor %}

        {% if page.has_other_pages %}
            {% include "include/paginator.html" with items=page paginator=paginator %}
        {% endif %}

    {% endcache %}

{% endblock %}